<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNQvycf7pCE453-o6qt8uDz_vnFlzWHHs</string>
	<key>GCM_SENDER_ID</key>
	<string>1034578465965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnlabs</string>
	<key>PROJECT_ID</key>
	<string>university-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>university-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034578465965:ios:48a796fef95f3b08b5e224</string>
</dict>
</plist>